<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="d-flex row ">     
        <a href="<%= posts[posts.length-1].cocktailName.charCodeAt(0) > 100 ? '/feedZtoA' : '/feed'%>" class="btn col-md btn-outline-info btn-lg px-4 me-sm-3 fw-bold mt-3"><%= posts[posts.length-1].cocktailName.charCodeAt(0) > 100 ? 'List Z - A' : 'List A - Z'%></a>
        <a href="<%= [...posts].map(e=>e.ibaCocktail).includes(false) ? '/feedIBA' : '/feed'%>" class="btn col-md  btn-outline-info btn-lg px-4 me-sm-3 fw-bold mt-3"><%= [...posts].map(e=>e.ibaCocktail).includes(false) ? 'IBA Cocktails only' : 'All Cocktails'%></a>
        <a href="<%= posts.filter(e=>e.ibaCocktail == false).length >= 1 ? '/feedNoIBA' : '/feed'%>" class="btn col-md  btn-outline-info btn-lg px-4 me-sm-3 fw-bold mt-3"><%= posts.filter(e=>e.ibaCocktail == false).length >=1 ? 'Remove IBA Cocktails' : 'All Cocktails'%></a>
        <a href="/getFeedUnforgettables" class="btn col-md  btn-outline-info btn-lg px-4 me-sm-3 fw-bold mt-3">The Unforgettables</a>
        <a href="/getFeedNewEraDrinks" class="btn col-md  btn-outline-info btn-lg px-4 me-sm-3 fw-bold mt-3">New Era Drinks</a>
      </div>
      <div class="text-secondary"><%= posts.length %> cocktails</div>
     
      <ul class="row list-unstyled d-flex flex-wrap">
        <% for(var i=0; i<posts.length; i++) {%>
          
          <li class="col-sm-6 col-lg-3 justify-content-center mt-5 ">
            <a class="text-decoration-none row justify-content-center" href="/post/<%= posts[i]._id%>">
              <h3 class="col text-center text-white justify-content-center"><%= posts[i].cocktailName %></h3>
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <%if(user == undefined){ %>

            <a href="/login"><button class="btn btn-info fa fa-heart col-6" >Sign in to favorite this recipe</button></a>
          
          <%}else if(!user.favorites.includes(posts[i]._id)){ %>
              <form
          class="row justify-content-center mt-3"
          action="/post/favoritePost/<%= posts[i]._id %>?_method=PUT"
          method="POST"
        >
              <button class="btn btn-outline-info fa fa-heart col-6" type="submit"></button>
            </form>
               <%}else{ %>
                <form
              class="row justify-content-center mt-3"
              action="/post/deleteFavorite/<%= posts[i]._id %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-info fa fa-heart col-6" type="submit"></button>
            </form>
            <%}%>
            
          </li>
        
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>